## Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.exe
*.dll
*.pdb
*.cache

## Test results
[Tt]est[Rr]esult*/

## NuGet
*.nupkg
*.snupkg
packages/

## IDE / OS
Thumbs.db
.DS_Store